
<head>
    <style>
        img {
            width: fit-content
        }
    </style>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>

<body>
    <main>
        <img src="~/Images/success.svg" class="mx-auto d-block" />

        <p class="text-center">Registration completed successfully. Please close this window and try to login again.</p>
    </main>
</body>